@import '../../styles/variables.scss';
@import '../../styles/zIndex.scss';

.video-asset-block {
  .header {
    padding: 0.5rem 0;
    color: $footerColor;
    font-weight: 700;
  }

  .content-body {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.125%;
    border: 1px solid $grey-border;
    border-top: 0;
    background-color: $grey-1;

    .content-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1.75em;
        font-weight: bold;
        color: $grey;
      }
    }

    video {
      &:focus {
        outline: none;
      }
    }

    iframe {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  .input-group {
    input.form-control {
      padding: 1.25rem 8.065rem 1.25rem 1.25rem;
      border: 1px solid $grey-border;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .input-group-prepend,
    .input-group-append {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      z-index: $zIndexInputGroupAppend;

      button.btn {
        min-height: unset;
        padding: 0.1rem 0.5rem;
        border-radius: 4px;
        font-size: 0.8rem;
      }
    }
  }
}
