@import 'styles/variables.scss';

.country-lookup-dropdown {
  &.dropdown-toggle.btn-secondary.disabled {
    cursor: unset;
    background-color: $disabledColor;

    &::after {
      display: none;
    }
  }
}
