@import 'styles/variables.scss';
@import 'styles/mixin.scss';
.signup-content {
  label {
    color: $primary-color;
    font-weight: 500;
    font-size: 15px;
    @include responds-to('small'){
      font-size: 12px;
    }
  }
  input{
    @include responds-to('small'){
      font-size: 12px;
    }
  }
.form-group{
  @include responds-to('small'){
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}
  button {
    &.signup {
      margin-top: 20px;
      width: 100%;
      @include responds-to('small'){
        font-size: 12px;
      }
    }
  }
}


