
$zIndexProgressLine: 9999;
$zIndexCommonLoading: 4;
$zIndexInputTypeFile: 1;
$zIndexSpinnerLoading: 9999;
$zIndexInputGroupAppend: 3;
$zIndexRDPFormControl: 1;
$zIndexRDPFormControlBefore: 0;
$zIndexIconCalendar: -1;
