@import "styles/variables.scss";
@import "styles/common.scss";

.block {
  width: 100%;
  background-color: $white;
  padding-top: $toast-font-size;
  margin-bottom: 20px;

  .block-header {
    padding-bottom: $toast-font-size;
    border-bottom: 1px solid $footerBorderColor;

    .block-title {
      @include normal-font-style;

      color: $blue;
      font-size: $toast-font-size;
      line-height: 19px;
      font-weight: 900;
      padding-left: 20px;
    }
  }

  .custom-control {
    pointer-events: none;
  }
}

.block-content .content-item {
  padding-top: $toast-font-size;
  padding-left: 20px;
  padding-right: 20px;
}

.d-table {
  display: table;
}
