@import 'styles/variables.scss';

.checkoutReport {
  background-color: $grey-1;
  border-radius: 15px;
  overflow: hidden;

  h1 {
    font-size: 20px;
    padding: 20px 20px;
    background-color: $primary-color;
    color: $white;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .checkoutReport__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    background-color: $bg-header-color;

    h2 {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .checkoutReport__products {

    .product {
      padding: 20px 20px 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $border-color-highlight;

      .product__name {}

      .product__total {
        color: $error;
      }
    }
  }

  .checkoutReport__total {
    .totalPrice {
      padding: 20px 20px 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__price {
        color: $error;
      }
    }

    .contactText {
      color: $error;
      text-align: center;
      padding: 20px 20px 10px 20px;

    }
  }
}
